[flake8]
max-line-length = 99
import-order-style = google
exclude =
    env/*
    venv/*
accept-encodings = utf-8
ignore = E203,W503
application-import-names =
    bot_actions
    bot_commands
    callbacks
    chat_functions
    config
    errors
    main
    message_responses
    storage
