# PyCharm
.idea/

# Python virtualenv environment folders
env/
env3/
.env/

# Bot local files
*.db

# Config file
config.yaml

# Python
__pycache__/

# Config file
config.yaml
tokens.csv
rooms.csv
volunteers.csv
volunteer_rooms.csv
presenters.csv
presenter_rooms.csv

# Data files
store/

# Log files
*.log
